
.experience-heading {
  font-size: 56px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .experience-heading {
    font-size: 30px;
    text-align: center;
  }
}

.experience{padding: 20px;  width: 90%;margin:auto;
}

.experience-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); // Utilisez 20% comme largeur minimale et 1 fraction de l'espace disponible
  gap:20px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr; // Sur les petits écrans, une carte par ligne en pleine largeur
  }
}