.bottom-fixed-container {
  border-radius: 30px 30px 0 0;
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  background-color: #ef5350;
  color: white !important;
  margin: auto;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 -2px 5px grey;
}

.bottom-fixed-container > ul,
.bottom-fixed-container > h4 {
  margin: 8px;
}

.delayed {
  transition: opacity 0.5s;
  opacity: 1;
}
.delayed.hide {
  opacity: 0;
  pointer-events: none;
}
